@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
    margin: 0 10px
}

/* .slick-prev {
  left: 3% !important;
  color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
} */